%li{:class => controller_name == 'dashboards' ? 'current' : ''}
  =link_to 'Dashboard', dashboard_path
%li{:class => controller_name == 'tickets' ? 'current' : ''}
  =link_to 'Tickets', tickets_path
%li{:class => controller_name == 'companies' ? 'current' : ''}
  =link_to 'Companies', companies_path
%li{:class => controller_name == 'users' ? 'current' : ''}
  =link_to 'Users', users_path
/ %li
/   %a{:href => "styles.html"} Styles
/   %ul
/     %li
/       %a{:href => "styles.html"} Basic Styles
/     %li
/       %a{:href => "#"} Sample Pages...
/       %ul
/         %li
/           %a{:href => "samples-files.html"} Files
/         %li
/           %a{:href => "samples-products.html"} Products
/ %li
/   %a{:href => "grid.html"} Grid
/ %li
/   %a{:href => "tables.html"} Tables
/ %li
/   %a{:href => "forms.html"} Forms
/ %li
/   %a{:href => "graphs.html"} Graphs

