- title "Ticket"
.column.width8.first
  %br/
  #info
    = @ticket.subject
  %hr/
  #info
    = simple_format(@ticket.description)
  %br/
  = link_to 'Edit Ticket', edit_ticket_path(@ticket), :class => 'btn btn-green'
