/ Left column/section
%section.column.width6.first
  .colgroup.leading
    .column.width3.first
      %h3
        Welcome back,
        = @user.full_name
      %p
        You are currently signed up to the
        = succeed "." do
          %b Free Trial Plan
        %br/
        %a{:href => "#"} Upgrade now?
    .column.width3
      %h4 Last login
      %p
        Monday July 12th, 2010 at 11:32am from 127.0.0.1
        %br/
        No error login attempts.
  .colgroup.leading
    .column.width3.first
      %h4
        Invoices:
        %a{:href => "#"} 10
      %hr/
      %table.no-style.full
        %tbody
          %tr
            %td Total Invoices
            %td.ta-right
              %a{:href => "#"} 10
            %td.ta-right $1,322.10
          %tr
            %td Total Paid
            %td.ta-right
              %a{:href => "#"} 9
            %td.ta-right $900.00
          %tr
            %td Total Due
            %td.ta-right
              %a{:href => "#"} 1
            %td.ta-right $422.10
          %tr
            %td Total Overdue
            %td.ta-right 0
            %td.ta-right $0.00
    .column.width3
      %h4
        Sales:
        %a{:href => "#"} 1
      %hr/
      %table.no-style.full
        %tbody
          %tr
            %td Clients This Month
            %td.ta-right
              %a{:href => "#"} 1
            %td.ta-right
          %tr
            %td Sales This Month
            %td.ta-right
              %a{:href => "#"} 9
            %td.ta-right $900.00
          %tr
            %td Clients Total
            %td.ta-right
              %a{:href => "#"} 5
            %td.ta-right
          %tr
            %td Sales Total
            %td.ta-right
              %a{:href => "#"} 9
            %td.ta-right $900.00
  .colgroup.leading
    .column.width3.first
      %h4 Client Stats
      %hr/
      %table.no-style.full
        %tbody
          %tr
            %td Active
            %td.ta-right 1/5
            %td
              #progress1.progress.full.progress-green
                %span
                  %b
          %tr
            %td Pending
            %td.ta-right 2/5
            %td
              #progress2.progress.full.progress-blue
                %span
                  %b
          %tr
            %td Suspended
            %td.ta-right 2/5
            %td
              #progress3.progress.full.progress-red
                %span
                  %b
    .column.width3
      %h4 Reports
      %hr/
      %p
        %b Sales this year
      #placeholder{:style => "height:100px"}
  .clear  
/ End of Left column/section
/ Right column/section
%aside.column.width2
  #rightmenu
    %header
      %h3 Your Account
    %dl.first
      %dt
        %img{:alt => "", :height => "16", :src => "/images/key.png", :width => "16"}/
      %dd
        = link_to 'Administry (admin)', edit_user_registration_path
      %dd.last Free Account.
      %dt
        %img{:alt => "", :height => "16", :src => "/images/help.png", :width => "16"}/
      %dd
        %a{:href => "#"} Support
      %dd.last Documentation and FAQ
  .content-box
    %header
      %h3 Latest in the Community
    %section
      %dl
        %dt Maximize every interaction with a client
        %dd
          %a{:href => "#"} Read more
        %dt Diversification for Small Business Owners
        %dd
          %a{:href => "#"} Read more
/ End of Right column/section
/ End of Wrapper
/ End of Page content:w

