%ul
  %li=link_to 'Dashboard', dashboard_path
  %li=link_to 'Tickets', tickets_path
  %li=link_to 'Companies', companies_path
  %li=link_to 'Users', users_path
  %li=link_to 'Assets', assets_path
  %li=link_to 'Tasks', tasks_path